.ui-state-active{
    background: #0E1C2F;
    border-color: #0E1C2F;
    transition: .3s;
}

.ui-accordion-header-collapsed{
    transition: .3s;
}

.ui-widget-content{
    border-width: 3px;
    border-color: #0E1C2F;
}
h3{
    margin: 0 0 0;
    display: inline-block;
    font-size: 4em;
}

.heading-container{
    display: inline-block;
    margin-left: 1em;
}

h4{
    font-size: 1.3em;
}
h4, h5{
    margin:.3em 0 0;
}


.ui-accordion-header-icon{
    vertical-align: top;
    margin-top: 2em;
}